# Project-specific output
input/*.json
output/*

# Common IDEs
.idea/*

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini
ice-wars-server.iml

# Mac crap
.DS_Store

# Project
node_modules/
npm-debug.log
run.bat
tools/cards.json
www/

# Security
config/config.json
config/googlepkey.pem
/nbproject/
.env

# Misc
*.swp
